* { margin: 0; padding: 0; font-size: 12px; color: black; }

#details { width: 1200px; min-height: 100px; margin: 0 auto; margin-top: 50px; overflow: hidden; }

#details .dt, #details .dt_rt { float: left; }

#details .dt { width: 400px; height: 400px; border: 1px solid #ccc; }

#details .dt img { width: 400px; height: 400px; }

#details .dt_rt { width: 620px; min-height: 100px; margin-left: 40px; }

#details .dt_rt p { color: #666; }

#details .dt_rt .det { font-size: 18px; color: #666; line-height: 30px; }

#details .dt_rt .gud_de { color: red; font-size: 14px; line-height: 18px; padding-bottom: 10px; border-bottom: 1px dotted #ccc; }

#details .dt_rt .pric { padding: 15px 0; font-size: 20px; color: #f60; }

#details .dt_rt .pric span { color: #666; padding: 0 10px; }

#details .dt_rt .pric i { padding-left: 150px; color: #666; }

#details .dt_rt .de { padding: 0 10px; }

#details .dt_rt .de span { color: #666; }

#details .dt_rt .gos { padding: 0 10px; line-height: 25px; margin-top: 150px; border-bottom: 1px dotted #ccc; padding-bottom: 15px; }

#details .dt_rt .gos span { padding: 0 80px 0 5px; }

#details .dt_rt .gos i { padding-left: 10px; }

#details .dt_rt .sx { height: 200px; border: 1px solid #ccc; }
